name: push-latest

# trigger on push to master
# only on Dockerfile related modifications
on:
  push:
    branches:
      - "master"
    paths:
      - ".dockerignore"
      - ".github/workflows/push-latest.yml"
      - "Dockerfile"
      - "hadolint.yaml"
      - "supported_versions.json"
      - "supported_platforms.json"
     

jobs:
  build_push_latest:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Retrieve latest suported versions
        run: |
          echo "TF_VERSION=$(jq -r '.tf_versions | sort | .[-1]' supported_versions.json)" >> $GITHUB_ENV
          echo "AWS_VERSION=$(jq -r '.awscli_versions | sort | .[-1]' supported_versions.json)" >> $GITHUB_ENV

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push container images
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          build-args: |
            TERRAFORM_VERSION=${{ env.TF_VERSION }}
            AWS_CLI_VERSION=${{ env.AWS_VERSION }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/terraform-cli:latest
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
